@using Hamburger.Models.ViewModels;
@model MenuProductVM


<section id="Home">

    <div class="main">
        <div class="men_text">
            <h1><span id="menuTitle"></span><span></span><br></h1>
        </div>
        <div class="main_image">
            <div id="homeCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    @foreach (var menu in Model.Menus)
                    {
                        <div class="carousel-item @(menu == Model.Menus.First() ? "active" : "")">
                            <img src="@menu.MenuImage" class="d-block w-100" alt="@menu.MenuName" style="max-width: 100%;">
                        </div>
                    }
                </div>
                <script>
                    document.getElementById('homeCarousel').setAttribute('data-bs-interval', '4000');
                    var menuTitles = @Json.Serialize(Model.Menus.Select(m => m.MenuName));
                    var menuDescriptions = @Json.Serialize(Model.Menus.Select(m => m.Description));
                    var menuTitleElement = document.getElementById('menuTitle');
                    var menuDescriptionElement = document.createElement('div');
                    menuDescriptionElement.className = 'menu-description';
                    var currentMenuIndex = 0;

                    function updateMenuInfo() {
                        menuTitleElement.textContent = menuTitles[currentMenuIndex];
                        menuDescriptionElement.innerHTML = '<p>' + menuDescriptions[currentMenuIndex] + '</p>';
                    }

                    updateMenuInfo();

                    setInterval(function () {
                        currentMenuIndex = (currentMenuIndex + 1) % menuTitles.length;
                        updateMenuInfo();
                    }, 4000);
                </script>
            </div>
        </div>
    </div>

    <div class="main_btn">
        <a href="#">Order Now</a>
        <i class="fa-solid fa-angle-right"></i>
    </div>

</section>










<!--About-->

@*<div class="about" id="About">
    <div class="about_main">
        <div class="image">
            <img src="image/Food-Plate.png">
        </div>

        <div class="about_text">
            <h1><span>About</span>Us</h1>
            <h3>Why Choose us?</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita, est. Doloremque
                sapiente veritatis laboriosam corrupti optio et maxime. Ad, amet explicabo eaque labore
                cupiditate quasi nostrum nemo recusandae id quibusdam? Lorem ipsum dolor sit amet
                consectetur adipisicing elit. Doloremque ab, dolores pariatur cum exercitationem, illo nisi
                veritatis vitae ea deleniti fugiat quisquam tempora, accusantium corrupti excepturi optio.
                Inventore, cupiditate recusandae.
            </p>
        </div>

    </div>

    <a href="#" class="about_btn">Order Now</a>

</div>
*@


<!--Menu-->

<div class="menu" id="Menu">
    <h1>Our <span>Products</span></h1>
  
    <div class="tm-paging-links">
        <nav>
            <ul>
                <li class="tm-paging-item"><a href="3" class="tm-paging-link active">Menus</a></li>
                @foreach (var category in Model.Categories)
                {
                    <li class="tm-paging-item"><a href="#" class="tm-paging-link">@category.CategoryName</a></li>
                }
            </ul>
        </nav>
    </div>
    <hr />
    <div class="menu_box" id="tm-gallery-page-menus">
        @foreach (var item in Model.Menus)
        {
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="@item.MenuImage" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-center fw-bold">@item.MenuName</h5>
                </div>
                <h5 class="text-black text-center">@item.Price<span>&#8378</span></h5>
                <div class="">
                    <a href="#" class="btn btn-outline-primary" style="width:49%">Details</a>
                    <a href="#" class="btn btn-outline-danger float-end" style="width:49%">Add to Cart</a>
                </div>

            </div>
        }
    </div>
    <div class="menu_box" id="tm-gallery-page-hamburgers" style="display: none;">
        @foreach (var item in Model.Products)
        {
            @if (item.CategoryID == 1)
            {
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="@item.ProductImage" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-center fw-bold">@item.ProductName</h5>
                </div>
                <h5 class="text-black text-center">@item.Price<span>&#8378</span></h5>
                <div class="">
                    <a href="#" class="btn btn-outline-primary" style="width:49%">Details</a>
                    <a href="#" class="btn btn-outline-danger float-end" style="width:49%">Add to Cart</a>
                </div>

            </div>
            }
        }
    </div>
    <div class="menu_box" id="tm-gallery-page-sides" style="display: none;">
        @foreach (var item in Model.Products)
        {
            @if (item.CategoryID == 2)
            {
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="@item.ProductImage" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center fw-bold">@item.ProductName</h5>
                    </div>
                    <h5 class="text-black text-center">@item.Price<span>&#8378</span></h5>
                    <div class="">
                        <a href="#" class="btn btn-outline-primary" style="width:49%">Details</a>
                        <a href="#" class="btn btn-outline-danger float-end" style="width:49%">Add to Cart</a>
                    </div>

                </div>
            }
        }
    </div>
    <div class="menu_box" id="tm-gallery-page-beverages" style="display: none;">
        @foreach (var item in Model.Products)
        {
            @if (item.CategoryID == 3)
            {
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="@item.ProductImage" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center fw-bold">@item.ProductName</h5>
                    </div>
                    <h5 class="text-black text-center">@item.Price<span>&#8378</span></h5>
                    <div class="">
                        <a href="#" class="btn btn-outline-primary" style="width:49%">Details</a>
                        <a href="#" class="btn btn-outline-danger float-end" style="width:49%">Add to Cart</a>
                    </div>

                </div>
            }
        }
    </div>
    <div class="menu_box" id="tm-gallery-page-deserts" style="display: none;">
        @foreach (var item in Model.Products)
        {
            @if (item.CategoryID == 4)
            {
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="@item.ProductImage" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center fw-bold">@item.ProductName</h5>
                    </div>
                    <h5 class="text-black text-center">@item.Price<span>&#8378</span></h5>
                    <div class="">
                        <a href="#" class="btn btn-outline-primary" style="width:49%">Details</a>
                        <a href="#" class="btn btn-outline-danger float-end" style="width:49%">Add to Cart</a>
                    </div>

                </div>
            }
        }
    </div>
    <div class="menu_box" id="tm-gallery-page-sauces" style="display: none;">
        @foreach (var item in Model.Products)
        {
            @if (item.CategoryID == 5)
            {
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="@item.ProductImage" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center fw-bold">@item.ProductName</h5>
                    </div>
                    <h5 class="text-black text-center">@item.Price<span>&#8378</span></h5>
                    <div class="">
                        <a href="#" class="btn btn-outline-primary" style="width:49%">Details</a>
                        <a href="#" class="btn btn-outline-danger float-end" style="width:49%">Add to Cart</a>
                    </div>

                </div>
            }
        }
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        // Handle click on paging links
        $('.tm-paging-link').click(function (e) {
            e.preventDefault();

            var page = $(this).text().toLowerCase();
            $('.menu_box').hide();
            $('#tm-gallery-page-' + page).show();
            $('.tm-paging-link').removeClass('active');
            $(this).addClass("active");
        });
    });

</script>


<!--Gallary-->

<div class="gallary" id="Gallary">
    <h1>Our<span>Gallery</span></h1>

    <div class="gallary_image_box">
        <div class="gallary_image">
            <img src="image/gallary_1.jpg">

            <h3>Food</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi sint eveniet laboriosam
            </p>
            <a href="#" class="gallary_btn">Order Now</a>
        </div>

        <div class="gallary_image">
            <img src="image/gallary_2.jpg">

            <h3>Food</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi sint eveniet laboriosam
            </p>
            <a href="#" class="gallary_btn">Order Now</a>
        </div>

        <div class="gallary_image">
            <img src="image/gallary_3.jpg">

            <h3>Food</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi sint eveniet laboriosam
            </p>
            <a href="#" class="gallary_btn">Order Now</a>
        </div>

        <div class="gallary_image">
            <img src="image/gallary_4.jpg">

            <h3>Food</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi sint eveniet laboriosam
            </p>
            <a href="#" class="gallary_btn">Order Now</a>
        </div>

        <div class="gallary_image">
            <img src="image/gallary_5.jpg">

            <h3>Food</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi sint eveniet laboriosam
            </p>
            <a href="#" class="gallary_btn">Order Now</a>
        </div>

        <div class="gallary_image">
            <img src="image/gallary_6.jpg">

            <h3>Food</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi sint eveniet laboriosam
            </p>
            <a href="#" class="gallary_btn">Order Now</a>
        </div>

    </div>

</div>




<!--Review-->

<div class="review" id="Review">
    <h1>Customer<span>Review</span></h1>

    <div class="review_box">
        <div class="review_card">

            <div class="review_profile">
                <img src="image/review_1.png">
            </div>

            <div class="review_text">
                <h2 class="name">John Deo</h2>

                <div class="review_icon">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>

                <div class="review_social">
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-linkedin-in"></i>
                </div>

                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus quam facere
                    blanditiis in fugiat tempore necessitatibus aliquid. Id adipisci, rem corrupti
                    asperiores distinctio delectus quae quia tenetur totam laboriosam quam. Lorem ipsum,
                    dolor sit amet consectetur adipisicing elit. Dolores soluta ullam ipsa voluptates
                    repudiandae dignissimos deleniti mollitia eum. Laudantium placeat velit nemo illo
                    pariatur. Fuga aperiam impedit illo atque repellendus!
                </p>

            </div>

        </div>

        <div class="review_card">

            <div class="review_profile">
                <img src="image/review_2.png">
            </div>

            <div class="review_text">
                <h2 class="name">John Deo</h2>

                <div class="review_icon">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>

                <div class="review_social">
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-linkedin-in"></i>
                </div>

                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus quam facere
                    blanditiis in fugiat tempore necessitatibus aliquid. Id adipisci, rem corrupti
                    asperiores distinctio delectus quae quia tenetur totam laboriosam quam. Lorem ipsum,
                    dolor sit amet consectetur adipisicing elit. Dolores soluta ullam ipsa voluptates
                    repudiandae dignissimos deleniti mollitia eum. Laudantium placeat velit nemo illo
                    pariatur. Fuga aperiam impedit illo atque repellendus!
                </p>

            </div>

        </div>

        <div class="review_card">

            <div class="review_profile">
                <img src="image/review_3.png">
            </div>

            <div class="review_text">
                <h2 class="name">John Deo</h2>

                <div class="review_icon">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>

                <div class="review_social">
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-linkedin-in"></i>
                </div>

                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus quam facere
                    blanditiis in fugiat tempore necessitatibus aliquid. Id adipisci, rem corrupti
                    asperiores distinctio delectus quae quia tenetur totam laboriosam quam. Lorem ipsum,
                    dolor sit amet consectetur adipisicing elit. Dolores soluta ullam ipsa voluptates
                    repudiandae dignissimos deleniti mollitia eum. Laudantium placeat velit nemo illo
                    pariatur. Fuga aperiam impedit illo atque repellendus!
                </p>

            </div>

        </div>

        <div class="review_card">

            <div class="review_profile">
                <img src="image/review_4.png">
            </div>

            <div class="review_text">
                <h2 class="name">John Deo</h2>

                <div class="review_icon">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>

                <div class="review_social">
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-linkedin-in"></i>
                </div>

                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus quam facere
                    blanditiis in fugiat tempore necessitatibus aliquid. Id adipisci, rem corrupti
                    asperiores distinctio delectus quae quia tenetur totam laboriosam quam. Lorem ipsum,
                    dolor sit amet consectetur adipisicing elit. Dolores soluta ullam ipsa voluptates
                    repudiandae dignissimos deleniti mollitia eum. Laudantium placeat velit nemo illo
                    pariatur. Fuga aperiam impedit illo atque repellendus!
                </p>

            </div>

        </div>

    </div>

</div>



<!--Order-->

<div class="order" id="Order">
    <h1><span>Order</span>Now</h1>

    <div class="order_main">

        <div class="order_image">
            <img src="image/order_image.png">
        </div>

        <form action="#">

            <div class="input">
                <p>Name</p>
                <input type="text" placeholder="you name">
            </div>

            <div class="input">
                <p>Email</p>
                <input type="email" placeholder="you email">
            </div>

            <div class="input">
                <p>Number</p>
                <input placeholder="you number">
            </div>

            <div class="input">
                <p>How Much</p>
                <input type="number" placeholder="how many order">
            </div>

            <div class="input">
                <p>You Order</p>
                <input placeholder="food name">
            </div>

            <div class="input">
                <p>Address</p>
                <input placeholder="you Address">
            </div>

            <a href="#" class="order_btn">Order Now</a>

        </form>

    </div>

</div>



<!--Team-->

<div class="team">
    <h1>Our<span>Team</span></h1>

    <div class="team_box">
        <div class="profile">
            <img src="image/chef1.png">

            <div class="info">
                <h2 class="name">Chef</h2>
                <p class="bio">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

                <div class="team_icon">
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-instagram"></i>
                </div>

            </div>

        </div>

        <div class="profile">
            <img src="image/chef2.png">

            <div class="info">
                <h2 class="name">Chef</h2>
                <p class="bio">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

                <div class="team_icon">
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-instagram"></i>
                </div>

            </div>

        </div>

        <div class="profile">
            <img src="image/chef3.jpg">

            <div class="info">
                <h2 class="name">Chef</h2>
                <p class="bio">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

                <div class="team_icon">
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-instagram"></i>
                </div>

            </div>

        </div>

        <div class="profile">
            <img src="image/chef4.jpg">

            <div class="info">
                <h2 class="name">Chef</h2>
                <p class="bio">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

                <div class="team_icon">
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-instagram"></i>
                </div>

            </div>

        </div>

    </div>

</div>
</section>
