@using Hamburger.Models.ViewModels;
@model MenuProductVM

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<div id="carouselExampleDark" class="carousel carousel-dark slide">
    <div class="carousel-indicators">
        @foreach (var menu in Model.Menus)
        {
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="@menu.ID" class="@menu == Model.Menus.First() ? 'active' : ''" aria-label="Slide @(menu.ID +1)" onclick="goToMenu(@menu.ID)"></button>
        }
    </div>
    <div class="carousel-inner align-content-center">
        @foreach (var menu in Model.Menus)
        {
            <div class="carousel-item @(menu == Model.Menus.First() ? "active" : "")" data-bs-interval="false">
                <div class="d-flex justify-content-center align-items-center">
                    <img src="@menu.MenuImage" class="p-5 m-5 w-50" alt="...">
                    <div class="carousel-caption d-md-block">
                        <h5><strong>@menu.MenuName</strong></h5>
                        <p>@menu.Description</p>
                    </div>
                </div>
            </div>
        }
    </div>
    <button class="carousel-control-prev position-absolute start-0" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev" onclick="goToPrevMenu()">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next position-absolute end-0" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next" onclick="goToNextMenu()">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<script>
    var menuInfoDivs = document.querySelectorAll('.carousel-item');
    var currentMenuIndex = 0;

    function updateCarousel() {
        menuInfoDivs.forEach(div => div.classList.remove('active'));
        menuInfoDivs[currentMenuIndex].classList.add('active');
    }

    function goToMenu(menuID) {
        currentMenuIndex = menuID - 1;
        updateCarousel();
    }

    function goToNextMenu() {
        currentMenuIndex = (currentMenuIndex + 1) % menuInfoDivs.length;
        updateCarousel();
    }

    function goToPrevMenu() {
        currentMenuIndex = (currentMenuIndex - 1 + menuInfoDivs.length) % menuInfoDivs.length;
        updateCarousel();
    }
</script>


<!--Menu-->

<div class="menu" id="Menu" style="height:auto;">
    <h1><span>Our Products</span></h1>

    <div class="tm-paging-links" style="list-style: none; display: flex; justify-content:center;">
        <nav>
            <ul>
                <li class="tm-paging-item"><a href="#" class="tm-paging-link active">Menus</a></li>
                @foreach (var category in Model.Categories)
                {
                    <li class="tm-paging-item"><a href="#" class="tm-paging-link">@category.CategoryName</a></li>
                    ViewData[category.CategoryName.Replace(" ", "").ToLower()] = category.ID;
                }
            </ul>
        </nav>
    </div>
    <hr />
    <div class="menu_box" id="tm-gallery-page-menus">
        @foreach (var item in Model.Menus)
        {
            <div class="card card-renk" style="width: 18rem;">
                <img class="card-img-top" src="@item.MenuImage" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-center fw-bold">@item.MenuName</h5>
                </div>
                <h5 class="text-black text-center">@item.Price<span>&#8378</span></h5>
                <div class="text-center">
                    <a asp-controller="@(User.Identity.IsAuthenticated == true ? "User" : "Account")" asp-action="@(User.Identity.IsAuthenticated == true ? "CreateOrder" : "AddCartWithoutLogin")" asp-route-id="@item.ID" class="btn btn-outline-danger" style="width:100%">Add to Cart</a>
                </div>

            </div>
        }
    </div>
    @foreach (Category cat in Model.Categories)
    {
        <div class="menu_box" id="tm-gallery-page-@cat.CategoryName.Replace(" ","").ToLower()" style="display: none;">
            @foreach (var item in Model.Products)
            {
                @if (item.CategoryID == (int)ViewData[cat.CategoryName.Replace(" ", "").ToLower()])
                {
                    <div class="card card-renk" style="width: 18rem;">
                        <img class="card-img-top" src="@item.ProductImage" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title text-center fw-bold">@item.ProductName</h5>
                        </div>
                        <h5 class="text-black text-center">@item.Price<span>&#8378</span></h5>
                        <div class="text-center">
                            <a asp-controller="@(User.Identity.IsAuthenticated == true ? "User" : "Account")" asp-action="@(User.Identity.IsAuthenticated == true ? "CreateOrder" : "AddCartWithoutLogin")" asp-route-id="@item.ID" class="btn btn-outline-danger float-end" style="width:100%">Add to Cart</a>
                        </div>
                    </div>
                }
            }
        </div>
    }
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {

        $('.tm-paging-link').click(function (e) {
            e.preventDefault();

            var page = $(this).text().split(" ").join("").toLowerCase();
            $('.menu_box').hide();
            $('#tm-gallery-page-' + page).show();
            $('.tm-paging-link').removeClass('active');
            $(this).addClass("active");
        });
    });

</script>


<!--Gallary-->

<div class="gallary" id="Gallary">
    <h1><span>Our Commercial</span></h1>

    <div class="gallary_image_box">
        <div class="gallary_image">
            <iframe width="360" height="315" src="https://www.youtube.com/embed/dA0VGEbbw4g?si=JDZh6rMiAfoKWZh1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>

        <div class="gallary_image">
            <iframe width="360" height="315" src="https://www.youtube.com/embed/lpnYYvX670U?si=s8Kyu0SfJxC9if8J" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>

        <div class="gallary_image">
            <iframe width="360" height="315" src="https://www.youtube.com/embed/Ip0tlyXBmE0?si=f8VN04saO8EWfeSB" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>


    </div>

</div>




<!--Review-->

<div class="review" id="Review">
    <h1><span>Customer Review</span></h1>

    <div class="review_box">
        <div class="review_card">

            <div class="review_profile">
                <img src="https://media.licdn.com/dms/image/C4D03AQFEOxkpn89XuQ/profile-displayphoto-shrink_800_800/0/1654254670263?e=1698883200&v=beta&t=u33hyImZX2Mau9IH6zXFWoZQX6ow_pku0BhFqb150BY">
            </div>

            <div class="review_text">
                <h2 class="name">Samet ARSLAN</h2>

                <div class="review_icon">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <p>
                    İnanılmaz....Çok severek sipariş veriyoruum.İnternet siteleride baya kullanışlı.İnsanın yazılımcı olası geliyor.
                </p>

            </div>

        </div>

        <div class="review_card">

            <div class="review_profile">
                <img src="https://media.licdn.com/dms/image/C4D03AQEXqq32MZlYag/profile-displayphoto-shrink_800_800/0/1659947193406?e=1698883200&v=beta&t=shFMznSEPP9RGx615YKfLs2msbeWgHY47jFLO5P6AcQ">
            </div>

            <div class="review_text">
                <h2 class="name">Umur DALGIÇ</h2>

                <div class="review_icon">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>         

                <p>
                   Ben Sivaslıyım arkadaş...Hamburger falan bilmem ama bu hamburger bir başka...Sivas'da bu hamburger yüzünden millet şehrimizin lezzeti olan Sivas köfte yemeyi bıraktı.Bu hizmeti bize sağlayanları tebrik ederim.Mük olmuş MÜK!
                </p>

            </div>

        </div>

        <div class="review_card">

            <div class="review_profile">
                <img src="https://cdn.discordapp.com/attachments/1108470313454407781/1147511308305043486/pati_reis.jpeg">
            </div>

            <div class="review_text">
                <h2 class="name">omerfdev</h2>

                <div class="review_icon">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <p>
                   Bayılıyorum bu hamburgere....Pati Reyiz'e de söylüyorum bir tane afiyetle bitiriyor.Ayrıca Bingöl'e de şube istiyoruz.
                </p>

            </div>

        </div>

        <div class="review_card">

            <div class="review_profile">
                <img src="https://cdn.discordapp.com/attachments/1146518392744968242/1147512429568331816/300px-Surprised_Pikachu_HD.jpg">
            </div>

            <div class="review_text">
                <h2 class="name">Pikachu</h2>

                <div class="review_icon">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <p>
                    Pi ka pika pika pika pi ka pikachuuuuu!!!!!
                </p>

            </div>

        </div>

    </div>

</div>



@if(User.Identity.IsAuthenticated)
{
    <div class="order" id="Order">
        <h1><span>Contact Us</span></h1>

        <div class="order_main">

            <div class="order_image">
                <img src="~/image/order_image.png">
            </div>

            <form asp-action="CreateMessage" method="post">
                <div class="formbold-mb-3" style="width:stretch">
                    <label class="formbold-form-label" asp-for="Orders">Order:</label>
                    @Html.DropDownListFor(x => x.OrderID, Model.DropdownOrder, new { @class="formbold-form-input" })
                </div>
                <br>
                <div>
                    <p>Mesaj</p>
                    <textarea asp-for="message" placeholder="Enter your message here" rows="8" cols="50"></textarea>
                    <input type="submit" value="Send Message" class="text-black float-end order_btn" style="height:50px; margin-top:10px;" />
                </div>
            </form>

        </div>

    </div>
}


<!--About-->

<div class="about" id="About">
    <div class="about_main">
        <div class="image">
            <img src="https://www.tastingtable.com/img/gallery/is-it-necessary-to-let-your-burgers-rest-after-cooking/l-intro-1679941229.jpg" style="width:430px; height:260px; border-radius:15%; border:2px solid gray; box-shadow: 10px 10px 5px gray; -moz-box-shadow: 10px 10px 5px; -webkit-box-shadow: 10px 10px 5px #ccc; -khtml-box-shadow: 10px 10px 5px gray;">
        </div>
        <div class="about_text">
            <h1><span>About Us</span></h1>
            <h3>Why Choose us?</h3>
            <p>
                For our delicious hamburgers, our 100% ground beef from Butcher is prepared with care and without any additives, combined with our special sauce and garnishes, and served among fresh daily breads prepared for us.
                We are sensitive about quality and hygiene, because as the Bro Burger family, our priority is to offer you, especially our children, hamburgers that we can safely eat. We are waiting for you at Baguette Burger to taste the most delicious and natural form of hamburger.
            </p>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<!--Team-->

<div class="team">
    <h1><span>Our Team</span></h1>

    <div class="team_box">
        <div class="profile">
            <img src="https://avatars.githubusercontent.com/u/123166483?v=4" onclick="redirectToLinkedIn('https://www.linkedin.com/in/sbrsn/')">
            <div class="info">
                <h2 class="name">Team Lead</h2>
                <p class="bio">Sabri ŞEN</p>
            </div>

        </div>
        <div class="profile">
            <img src="https://avatars.githubusercontent.com/u/78663695?v=4 " onclick="redirectToLinkedIn('https://www.linkedin.com/in/omeralmali/')">

            <div class="info">
                <h2 class="name">Frontend Developer</h2>
                <p class="bio">omerfdev</p>
            </div>
        </div>
        <div class="profile">
            <img src="https://media.licdn.com/dms/image/D4D03AQHuPwxm36y7Kg/profile-displayphoto-shrink_200_200/0/1672786522602?e=1698883200&v=beta&t=vNyxN2ycwZ3HIoVi3ko26XwKZgBAvgKVVdvEF0R7oqY" onclick="redirectToLinkedIn('https://www.linkedin.com/in/mehmet-talha-aksoy-23000521b/')">

            <div class="info">
                <h2 class="name">Backend Developer</h2>
                <p class="bio">Talha AKSOY</p>
            </div>
        </div>
        <div class="profile">
            <img src="https://media.licdn.com/dms/image/D4D03AQFC95WGbVxznw/profile-displayphoto-shrink_200_200/0/1691581321413?e=1698883200&v=beta&t=f-Ud9gNuK3ySfEZtfjTsbh5Pw9KtcDHd2ClCGpNYLTQ" onclick="redirectToLinkedIn('https://www.linkedin.com/in/ömer-yolcu-21217472/')">
            <div class="info">
                <h2 class="name">Backend Developer</h2>
                <p class="bio">Ömer YOLCU</p>
            </div>
            </d

        </div>
        <script>
            function redirectToLinkedIn(link) {
                window.open(link, '_blank');
            }
        </script>
    </div>



